.runner-container {
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 500px;
    position: relative;
    overflow: hidden;
    background: black;
}

#game {
    position: absolute;
    width: 1000px;
    height: 450px;
    background: gray;
}

#ground {
    position: absolute;
    width: 1000px;
    height: 50px;
    top: 450px;
    background: green;
}

#chicken {
    width: 60px;
    height: 60px;
    position: relative;
    top: 390px;
    left: 100px;
    background: yellow;
}

.jump {
    animation: jump 0.5s linear 0s;
}
@keyframes jump {
    0% {
        top: 390px;
    }
    15% {
        top: 300px;
    }
    30% {
        top: 240px;
    }
    50% {
        top: 200px;
    }
    70% {
        top: 240px;
    }
    85% {
        top: 300px;
    }
    100% {
        top: 390px;
    }
}

#obstacle1 {
    width: 60px;
    height: 60px;
    position: relative;
    top: 330px;
    background: red;
}

#obstacle2 {
    width: 60px;
    height: 60px;
    position: relative;
    top: 270px;
    background: pink;
}
