.runner-container {
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 500px;
    position: relative;
    overflow: hidden;
    background: black;
}

#game {
    position: absolute;
    width: 1000px;
    height: 450px;
    background: gray;
}

#ground {
    position: absolute;
    width: 1000px;
    height: 50px;
    top: 450px;
    background: green;
}

.cactus,
#color-bubble,
#black-bubble,
#chicken {
    width: 60px;
    height: 60px;
    position: relative;
}

#chicken {
    top: 390px;
    left: 100px;
}

.jump {
    animation: jump 0.5s linear 0s;
}
@keyframes jump {
    0% {
        top: 390px;
    }
    15% {
        top: 300px;
    }
    30% {
        top: 240px;
    }
    50% {
        top: 200px;
    }
    70% {
        top: 240px;
    }
    85% {
        top: 300px;
    }
    100% {
        top: 390px;
    }
}

#color-bubble {
    top: 330px;
}

#color-bubble::before {
    content: "";
    background-color: #82c6d7;
    position: absolute;
    width: 26px;
    height: 26px;
    top: 5px;
    left: 15px;
    border-radius: 50%;
}

.wobble {
    animation: wobble 1.5s linear infinite;
}
@keyframes wobble {
    0% {
        top: 330px;
    }
    50% {
        top: 350px;
    }
    100% {
        top: 330px;
    }
}

.shrink {
    animation: shrink 0.2s linear;
}
@keyframes shrink {
    0% {
        top: 330px;
        width: 60px;
    }
    100% {
        top: 390px;
        width: 10px;
    }
}

.chicken {
    width: 60px;
    height: 60px;
}

.leg {
    position: relative;
    width: 17px;
    height: 17px;
    transform-origin: top;
}

.leg.right {
    bottom: 31px;
    left: 19px;
}

.leg.left {
    bottom: 14px;
    left: 26px;
}

.bubble {
    position: relative;
    z-index: 0;
}

#black-bubble {
    top: 270px;
}
.breathe {
    animation: breathe 1.5s linear infinite;
}
@keyframes breathe {
    0% {
        width: 60px;
    }
    50% {
        width: 70px;
    }
    100% {
        width: 60px;
    }
}

.cactus {
    top: 275px;
}

.pixels {
    width: 1000px;
    height: 50px;
    position: relative;
}

.pixels > div {
    position: absolute;
    width: 6px;
    height: 6px;
}

.group-2 {
    bottom: 50px;
}

.group-1 > div {
    background: #338c23;
}
.group-2 > div {
    background: #255444;
}

.pix1 {
    top: 20px;
    left: 100px;
}
.pix2 {
    top: 10px;
    left: 200px;
}
.pix3 {
    top: 30px;
    left: 400px;
}
.pix4 {
    top: 40px;
    left: 600px;
}
.pix5 {
    top: 25px;
    left: 800px;
}
